<div class="container-md">
  <h1 class="text-center mt-3">Survey Responses</h1>
  <div class="d-flex flex-row-reverse align-items-center">
    <div class="d-flex flex-column align-items-center ms-2">
      <i class="bi bi-arrow-up-square-fill"></i>
      <i class="bi bi-arrow-down-square-fill"></i>
    </div>
    <%= link_to 'Generate Insight', insights_path, class: "btn btn-light border-3 border-dark mt-2 mb-2 text-dark fw-bold" %>
  </div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User ID</th>
        <th scope="col">Response ID</th>
        <th scope="col">Content</th>
        <th scope="col">Bot Response</th>
      </tr>
    </thead>
    <tbody>
      <% @responses.each_with_index do |user, index| %>
        <% user["responses"].each do |response| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= user["user_id"] %></td>
            <td><%= response["id"] %></td>
            <td><%= response["content"] %></td>
            <td><%= response["bot_response"] %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>